.logo{
    float: left;
    width: 64px;
    height: 64px;
    background: url("../imgs/logo.png") no-repeat center;
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    background-position: center;
}
.menuHeader{
  background: rgba(0,0,0,0);
  color: #ffffff
}